@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636379432948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

